openapi: 3.0.1
info:
  title: Romania Payroll Consolidation APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/v1/romania
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/v1/romania
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/v1/romania
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /payrollconsolidation:
    post:
      tags:
        - Payroll Consolidation
      summary: Romania Payroll Consolidation
      description: >-
        This API is for Romania payrollconsolidation API resources
      operationId: payrollconsolidation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/payrollRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/payrollResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    payrollRequest:
      type: object
      description: Payroll request object
      properties:
        PlantCode:
          type: string
          example: Plant Name
        TimeRecords:
          type: array
          items:
            type: object
            properties:
              TerminalCode:
                type: string
                example: Attendance reader IN
              CardNumber:
                type: string
                example: 12345
              EventType:
                type: string
                example: In
              EventMoment:
                type: string
                example: 2001-01-01 12:00:00.000
    payrollResponse:
      type: object